.cmp-hero .cmp-hero__content {
    min-height: 400px;
    padding: 22px 26px;
    color: #1B1C1D;
    background-color: #BDC6D3;
    background-position: center center;
    background-size: cover;

}

.cmp-hero .cmp-hero__heading {
    margin-bottom: 16px;
    overflow: hidden;
    font-size: 45px;
    line-height: 54px;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .cmp-hero .cmp-hero__content {
    min-height: 520px;
    padding: 50px;
}

.cmp-hero .cmp-hero__heading {
    overflow: visible;
    font-size: 72px;
    line-height: 84px;
}

.cmp-hero .cmp-hero__heading,
.cmp-hero .cmp-hero__subtitle,
.cmp-hero .cmp-hero__text {
    max-width: 50%;

  }

}