<section>
    <footer class="cmp-footer">
        <div class="container">
          <div class="cmp-footer__main-nav">
            <div class="row">
              <div class="col-lg-7">
                <nav class="nav">
                  <a class="nav-link p-0" href="#">About Jolt</a>
                  <a class="nav-link p-0" href="#">Contact us</a>
                  <a class="nav-link p-0" href="#">Careers</a>
                  <a class="nav-link p-0" href="#">Meet our partners</a>
                </nav>
              </div>
              <div class="col-lg-5">
                <ul class="list-inline d-lg-flex justify-content-end">
                  <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-fb"></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-tw"></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-lk"></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-yt"></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="d-block cmp-footer__icon cmp-footer__icon-in"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cmp-footer__secondary-nav">
            <nav class="cmp-navigation__nav nav">
              <a class="nav-link p-0" href="#">Feedback</a>
              <a class="nav-link p-0" href="#">Help</a>
              <a class="nav-link p-0" href="#">Privacy statement</a>
              <a class="nav-link p-0" href="#">Cookies</a>
              <a class="nav-link p-0" href="#">Trademarks</a>
              <a class="nav-link p-0" href="#">Supply chain transparency</a>
              <a class="nav-link p-0" href="#">Sitemap</a>
            </nav>
          </div>
          <div class="cmp-footer__copyright">©2022 Jolt Systems, Inc.</div>
        </div>
      </footer>
</section>