
@import 'variables';
@import 'base';
@import '../components/**/*.scss';
@import './styles/**/*.scss';

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");


body {
  background-color: #F4F5F7;
  color: #606162;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

a {
  display: inline-block;
  color: #0076D5;
  text-decoration: none;
}

main {
  background-color: #FFF;
}

.btn-primary {
  background-color: #0076D5;
  border-color: #0076D5;
}

.btn-outline-primary {
  color: #0076D5;
  border-color: #0076D5;
}

.container {
  max-width: 1320px;
}