<sly data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html" data-sly-use.model="com.eastcoastteam.core.models.ExtendedHeaderModel"/>
<section>
  <header class="cmp-header">
    <div class="cmp-header__main-nav">
      <div class="container">
        <nav class="nav justify-content-end">
          <a class="d-flex nav-link" aria-current="page" href="#">How to buy</a>
          <a class="d-flex nav-link" href="#">Partners</a>
          <a class="d-flex nav-link" href="#"><span class="cmp-header__icon-user"></span> Log in</a>
          <a class="d-flex nav-link" href="#"><span class="cmp-header__icon-world"></span> US EN</a>
        </nav>
      </div>
    </div>
    <div class="cmp-header__secondary-nav">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="images/logo.svg" alt="Jolt" class="img-fluid cmp-header__logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Solutions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Learn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Explore Jolt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
</section>